.App {
  text-align: center;
}
.img-fluid{
  border-radius: 1rem 0 0 1rem;
}
.vh-100{
  background-color: #9A616D;
}

.card{
  border-radius: 1rem;
}

.fas-fa-cubes-fa-2x-me-3
{
  color: #ff6219;
}

.fw-normal-mb-3-pb-3 
{
  letter-spacing: 1px;
}
.mb-5-pb-lg-2{
  color: #393f81;
}
.linksudhar{
  color: #393f81;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
